@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Goldman&family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Be+Vietnam+Pro:wght@900&display=swap');

/*    Text     */
* {
  box-sizing: border-box;
  margin:auto;
}

/*  navbar  */

ul {
  list-style-type: none;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 2.2em;
}


li {
  counter-reset: none;
  display: inline;
}

a.nav-header {
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
  color: white;
  padding: 2%;
}

a.nav-header:hover {
  color: black;
  border: white solid 0;
  background-color: white;
}

a.nav-header:active {
  text-decoration-style: underline;
  text-decoration-color: white;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 0;
  margin: 4px 0 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 6em;
}

button:hover {
  background-color: black;
  color: white;
}

button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

button:active {
  background-color: white;
  color: black;
}

button:disabled {
  cursor: default;
}


input.input-text:hover {
  box-shadow: inset;
}

/*  footer  */

span.img-logo {
  border: dashed 10px;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.picpng.com%2Flanguage-logo-python-png-44976&psig=AOvVaw27FVVGcUm4IBi1i0SX6zsw&ust=1638507433636000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLjs1_-pxPQCFQAAAAAdAAAAABAP);
}

h3.footer-data-credit
{
  color : white;
}

footer.footer-data
{
  padding: 2rem 2rem;
  background-color: black;
}

html,
body {
  background-image:url('https://wallpaperaccess.com/full/1355375.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width : 100%;
}
