@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap');
@import url('http://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

/*  Main Container */

.header-contain-show
{
    justify-content:space-around;
    display:flex;
    margin: 10rem;
    margin-bottom: 15rem;
    border: 2px solid white;
    border-radius: 12px;
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.20);
}

p#text-caption-p
{
    font-size:1.5em;
    color:white;
    text-shadow: 3px 3px 5px black;
    line-height:2;
    font-family: 'Allerta Stencil', sans-serif;
}

img#img-logo-amz1
{
    max-width: 30em;
}
/*  div 2  */

.header-con2
{
    background-color: black;
    margin: auto;
    padding:5rem;
    width :100%;
}

img#photo-logo-amz1
{
    width : 100%;
    height: auto;
}

h1#amz1_name 
{
    color: white;
    font-size: 10rem;
    text-align: center;
    justify-content: center;
    font-family: 'DS-Digital', sans-serif;
}


