div.container-fluid,
form 
{
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

.footer-data
{
  padding: 2em;
}

h1 
{
  text-shadow: 10px 10px 10px black;
  font-family: Prompt;
  font-size: 1em;
  padding: 1em;
}

p#copy-footer
{
  font-style:inherit;
  text-shadow: 7px 7px 7px black;
}

label
{
  text-shadow: 7px 7px 7px black;
}

* {
  font-size: 1.75rem;
  color: white;
}

img#amz1-logo-login
{
  width: 10em;
  margin-left: 13.5rem;
  margin-bottom: 0%;
}

html, body
{
  background-image:url('https://wallpaperaccess.com/full/1355375.jpg');
  background-position: center;
  background-size: 120%;
  background-repeat: repeat;
  background-attachment: fixed;
  width : auto;
  height : auto;
}