<link rel="stylesheet" href="css/footer.css">
<footer>
    <div class="footer-co">
        <div class="contact">
            <label for="">Facebook</label>
            <a href="#" class="fa fa-facebook"></a>
            <label for="">Twitter</label>
            <a href="#" class="fa fa-twitter"></a>
            <label for="">Youtube</label>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="tech-web">
            <img id="html" src="img/6024bc5746d7436c727825dc4fc23c22-html-programming-language-icon.png" alt="html" srcset="">
            <img id="css" src="img/CSS3_logo_and_wordmark.svg.png" alt="css" srcset="">
            <img id="js" src="img/javascript.png" alt="js" srcset="">
            <img id="nodejs" src="img/1_gcG_duCl1v0SP6fyVbv67Q.png" alt="nodejs" srcset="">
        </div>
        <form class="email-sender" action="" method="post">
            <label for="">E-Mail Request</label>
            <input class="form-control" id="exampleFormControlInput1" type="email" name="email" id="email" placeholder="Your email..." style="margin-bottom: 10px;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="copyright">
        <h5>copyright&copy; EarthStrixDEV 2022</h5>
    </div>
</footer>