<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="https://media.discordapp.net/attachments/863446092241436687/928471180954959933/Amz1_LOGOv.1.1.png">
    <title>Home</title>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <div class="name-header">
            <div class="text">
                <h1>AMz1 World</h1>
                <b>Drawing | Designing | Programming<br>We are never stop learning</b>
            </div>
        </div>
        <hr>
        <div class="info-container">
            <div class="box-info">
                <p>AMz1 Group is the little friend group ,we have ever studied same school. <br>we have a ability and preference unlike as <br> - drawing<br> - graphic design<br> - programming</p>
                <img src="img/Header-art1.jpg" alt="" srcset="">
            </div>
        </div>

        <hr>

        <div class="video-from-youtube">
            <h2>Video From Youtube</h2>
            <div class="video-box">
                <iframe src="https://www.youtube.com/embed/ayIxcBSWAF4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h4>Tom Clancy's Rainbow Six Siege live#16 - โยนเกมที่ดี</h4>
            </div>
            <hr>
            <div class="video-box">
                <iframe src="https://www.youtube.com/embed/8h8BdCIttFg?list=PLd85c_iBCPMqnVNgk7y6IPN-z9QEQLjSR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h4>DeadByDaylight - เกมรั่วๆ</h4>
            </div>
            <hr>

        </div>
    </div>
    <%- include('footer') %>
    <%- include('script') %>
</body>
</html>