<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <form class="container" action="" method="post">
        <h1>Login</h1>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlTextarea1" name="password">
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
        <a class="btn btn-secondary" style="margin-top:1.25rem;">Register</a>
    </form>
    <%- include('footer')
</body>
</html>