<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Manager</title>
    <link rel="stylesheet" href="css/manage.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>CRUD Manager</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <a href="/manage/create" class="btn btn-primary">Create</a>
                    <a href="/manage/read" class="btn btn-primary">Read</a>
                    <a href="/manage/update" class="btn btn-primary">Update</a>
                    <a href="/manage/delete" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>