<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
    <form class="container" action="" method="post">
        <b id="name-header">Register</b>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""   name="email">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="" name="password">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="" name="confirm_password">
        </div>

        <div class="btn-register">
            <button class="btn btn-success" type="submit">Submit</button>
            <a class="btn btn-secondary" style="margin-left : 1rem;">Login</a>
        </div>
    </form>
    <%- include('footer') %>
</body>
</html>