.container {
    margin-top: 100px;
    margin-bottom: 10rem;
    display: block;
}

.name-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    padding-bottom: 3rem; 
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1 {
    text-align: center;
    font-family: var(--font-style-nav);
    font-weight: bolder;
    font-size: 120px;
}

.text b {
    padding-top: 20px;
    line-height: 60px;
    text-align: center;
    font-family: var(--font-style-nav);
    font-weight: bolder;
    font-size: 30px;
}

.name-header img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 200px;
    z-index: -1;
    filter: blur(20px);
}

.info-container {
    margin-top: 3rem;
    padding-bottom: 4rem;
}

.box-info {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 100%;
    border: 0.5px solid rgba(0, 0, 0, 0.096);
    box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.096) ,-7px -7px 30px rgba(0, 0, 0, 0.096);
    border-radius: 50px;
    overflow: hidden;
}

.box-info p {
    text-indent: 30px;
    white-space: pre-wrap;
    padding: 20px;
    font-family: var(--font-style-nav);
    font-size: 24px;
}

.box-info img {
    width: 960px;
    height: 100%;
}

.video-from-youtube {
    display : flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 960px;
    border-radius: 30px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.096) ,-4px -4px 30px rgba(0, 0, 0, 0.096);
}

.video-from-youtube h2 {
    text-align: center;
    font-family: var(--font-style-nav);
    font-weight: bolder;
    font-size: 45px;
    padding: 1.75rem;
}

.video-box {
    padding: 20px;
    margin: 2.5rem;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.096) ,-3px -3px 30px rgba(0, 0, 0, 0.096);
    border-radius: 30px;
    height: 1024px;
}

.video-box iframe {
    width: 1024px;
    height: 540px;
    margin-bottom: 2rem;
}

.video-box h4 {
    font-family: var(--font-style-nav);
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    padding: 2rem;
}



