@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Goldman&family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Be+Vietnam+Pro:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap');
@import url('http://fonts.cdnfonts.com/css/ds-digital');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


/*  panel  */

span.img-logo {
  border: dashed 10px;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.picpng.com%2Flanguage-logo-python-png-44976&psig=AOvVaw27FVVGcUm4IBi1i0SX6zsw&ust=1638507433636000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLjs1_-pxPQCFQAAAAAdAAAAABAP);
}

.header-contain-show {
  justify-content: space-around;
  display: flex;
  margin: 10rem;
  margin-bottom: 15rem;
  border: 2px solid white;
  border-radius: 12px;
  padding: 4rem;
  background-color: rgba(0, 0, 0, 0.2);
}

p#text-caption-p {
  font-size: 1.5em;
  color: white;
  text-shadow: 3px 3px 5px black;
  line-height: 2;
  font-family: "Allerta Stencil", sans-serif;
}

img#img-logo-amz1 {
  max-width: 30em;
}

.header-con2 {
  background-color: black;
  margin-top: 4rem;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

img#photo-logo-amz1 {
  width: 100%;
  height: auto;
}

h1#amz1_name {
  color: white;
  font-size: 10rem;
  text-align: center;
  justify-content: center;
  font-family: "DS-Digital", sans-serif;
}

html,
body {
  background-image: url("https://wallpaperaccess.com/full/767351.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
