* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box {
    width:360px;
    height:540px;
    background-color:rgba(255, 255, 255, 0.925);
    border-radius: 40px;
    margin: 100px;
    overflow: hidden;
    transition: box-shadow 0.25s ease-in-out;
}
.box:hover {
    box-shadow:4px 4px 12px rgba(24, 24, 24, 0.356);
}

.img-box {
    width:360px;
    overflow: hidden;
}

.text-info-con {
    margin-top : 1.5em;
    height:240px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid 1px rgba(0, 0, 0, 0.185);
}

.text-info-head {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin:20px;
    text-align: center;
}

.text-info-paragraph {
    margin:12px;
    text-align: center;
    color:black;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-contact-footer {
    margin-top: 10px;
    margin-left: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left:20px;
}

/*  Logo Style */

#youtube,
#twitter 
{
    height:38px;
    margin-bottom: 4px;
}

#member-page {
    background-image: url("https://media.discordapp.net/attachments/863446092241436687/928588704082165800/Header-art1.jpg?width=1102&height=599");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
